name: tag

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: 'version tag (vx.x.x)'
        required: true
env:
  GITHUB_TOKEN: ${{ secrets.PAT4TAG }}
  
jobs:
  tag_push:
    runs-on: ubuntu-latest
    steps:
    - name: Push git tag
      run: |
        gh api \
          --method POST \
          -H "Accept: application/vnd.github+json" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          /repos/${{github.repository}}/git/refs \
          -f ref="refs/tags/${{inputs.tag}}" \
          -f sha="${{github.sha}}"
